# macOS system files
.DS_Store

# node.js dependencies
/node_modules/

# Expo and React Native build artifacts
.expo/
.expo-shared/
*.expo
*.expo.dev

# Build outputs
/dist/
build/
ios/build/
android/app/build/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log

# IDEs and editors
.vscode/
.idea/
*.swp

# OS or environment-specific
.env
.env.*.local

# Misc
*.tmp
*.log
*.lock
package-lock.json
.pnpm-debug.log
